# Byte-compiled
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Output Files
outputs/*.csv
outputs/*.pdf
outputs/*.html

# Logs
*.log